// Config file the nf-core Sarek pipeline when working with large datasets

process {
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_GERMLINE_ALL:BAM_JOINT_CALLING_GERMLINE_GATK:GATK4_GENOTYPEGVCFS' {
        cpus   = 20
        memory = 80.GB
        time   = 32.h
    }
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_GERMLINE_ALL:BAM_JOINT_CALLING_GERMLINE_GATK:GATK4_GENOMICSDBIMPORT' {
        cpus   = 20
        memory = 80.GB
        time   = 16.h
    }
}
