params {
    config_profile_description = 'Config for running Nextflow pipelines at OSC'
    config_profile_contact     = 'Jelmer Poelstra, poelstra.1@osu.edu'

    max_memory                 = '2.9 TB'
    max_cpus                   = 48
    max_time                   = '336 h'
}

process {
    executor = 'slurm'
    withLabel: 'local_process' { executor = 'local' }
    clusterOptions='--account=PAS0471'
    queueSize = 100
    // queue = { task.memory.toGiga() > 178 ? 'largemem' : 'serial' } // This seems to give problems, actual queue is e.g. `serial-40`, then Nextflow doesn't find the job and reports it stopped
    // scratch = '$TMPDIR' // gives problems - https://github.com/nextflow-io/nextflow/discussions/2637
}

profiles {
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

// https://www.osc.edu/resources/technical_support/supercomputers/pitzer/batch_limit_rules
//clusterOptions= { "--account=${params.project} ${params.clusterOptions ?: ''}" }
//queue = { task.time > 168 ? 'longserial' : 'serial' }
//queue = {task.memory < 110.GB ? 'serial' : 'largemem'}
