params {
    config_profile_description = 'Config for running Nextflow pipelines at OSC'
    config_profile_contact     = 'Jelmer Poelstra, poelstra.1@osu.edu'
}

// Default process
process {
    executor = 'slurm'
    clusterOptions='--account=PAS0471'

    resourceLimits = [
        cpus: 128,
        memory: 2.TB,
        time: 336.h
    ]

    withLabel: 'local_process' { executor = 'local' }
}

executor {
    queueSize = 500
    //submitRateLimit = '10 sec'
}

// Local, Conda/Mamba and Singularity profiles
profiles {
    local {
        process {
            executor = 'local'

            resourceLimits = [
                cpus: 1,
                memory: 4.GB,
                time: 1.h
            ]
        }
    }

    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

// Overwrite logging files
trace.overwrite = true
dag.overwrite = true
report.overwrite = true
timeline.overwrite = true

// https://www.osc.edu/resources/technical_support/supercomputers/pitzer/batch_limit_rules
//clusterOptions= { "--account=${params.project} ${params.clusterOptions ?: ''}" }
//queue = { task.time > 168 ? 'longserial' : 'serial' }
//queue = {task.memory < 110.GB ? 'serial' : 'largemem'}
