singularity {
    enabled = true
    autoMounts = true
}
docker.enabled = false

params {
    max_memory = '2.9 TB'
    max_cpus = 48
    max_time = '336 h'
}

process {
    // https://www.osc.edu/resources/technical_support/supercomputers/pitzer/batch_limit_rules
    //clusterOptions= { "--account=${params.project} ${params.clusterOptions ?: ''}" }
    //queue = { task.time > 168 ? 'longserial' : 'serial' }
    executor = 'slurm'
    withLabel: 'local_process' { executor = 'local' }
    clusterOptions='--account=PAS0471'
    queueSize = 100
    scratch = '$TMPDIR'
    queue = { task.memory.toGiga() > 178 ? 'largemem' : 'serial' }
}
