process {
    executor = 'slurm'
    queueSize = 100
    scratch = '$TMPDIR'
    clusterOptions='--account=PAS0471'
}

params {
  stranded = 'reverse'
  genomes_ignore = true
  mapping_statistics = true
  run_star = true
  run_htseq_uniquely_mapped = true
  skip_fastqc = true
  input_paths = ''
  
  genomes {
    'host' {
      gff_host = ''
      gff_host_tRNA = ''
    }
    'pathogen' {
      gff_pathogen = ''
    }
  }
  genome_host = 'host'
  genome_pathogen = 'pathogen'
}

singularity {
    enabled = true
    autoMounts = true
}
