// Config file the nf-core rnaseq pipeline when working with very large transcriptomes
// such as those of some plants

process {
    withLabel:process_medium {
        cpus   = 16
        memory = 170.GB
        time   = { 3.h  * task.attempt }
    }
    withLabel:process_high {
        cpus   = 16
        memory = 170.Gb
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_high_memory {
        cpus   = 20
        memory = 700.GB
        time   = 3.h
        queue  = 'largemem'
    }
    withName: 'SALMON_INDEX' {
        cpus   = 20
        memory = 700.GB
        time   = 3.h
        queue  = 'largemem'
    }
    withName: 'STAR_GENOMEGENERATE' {
        cpus   = 20
        memory = 700.GB
        time   = 3.h
        queue  = 'largemem'
    }
}
